<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dangdang.order.dao.OrderDao">
	<insert id="insert" parameterType="Duser">
		insert into d_order(id,total_price,user_id,address_id) values(#{id}, #{totalPrice},#{duser.id},#{address.id})
	</insert>
	
</mapper>
